*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    border: #fff 1.5px;
    border-style: inset;
}

span p{
    color: rgb(19,32,60);
    text-align: left;
    margin: 2rem 0 0 0;
    margin-top: 2.2rem;
}

span p:hover{
    color: rgb(209,147,37);
    transition: 0.6s;
}

/* header */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 2rem;
    position: fixed;
    z-index: 999;
    margin: 0 0 0 0;
    background-color: rgb(236,236,236);
    width: 100%;
}

#logo{
    width: 9rem;
    max-width: 500px;
    background-color: blue;
}

.nav-links{
    display: flex;
    padding-top: 1rem;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a:hover{
    color: rgb(209,147,37);
    cursor: pointer;
    transition: 0.6s;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    transition: all 0.3s ease;
}

/* About us section */
#aboutSection{
    background-image: url(/images/heroimg.jpg);
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgb(19,32,60)), url("/images/heroimg.jpg"); 
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 4rem auto 0rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.4rem 0 2.7rem;
    color: #fff; 
}

.aboutOne h2{
    font-size: 3rem;
    font-weight: 500;
}

.wrapper p{
    font-size: 20px;
    font-weight: 500;
    width: 65%;
    line-height: 25px;
    margin: 1rem 0;
    text-align: left;
}

.aboutBtn{
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    background-color: #fff;
}

.aboutBtn:hover{
    background-color:rgb(209,147,37);
    transition: 0.6s;
}

.aboutOneBtn{
    margin: 20px 0 0 0; 
    display: flex;
    gap: 12px;
}

.aboutBtn2{
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    background-color: rgb(209,147,37);
}

.aboutBtn2:hover{
    background-color: #fff;
    transition: 0.6s;
}

.aboutOneBtn h3{
    margin: 10px 0 0 7rem;
    font-weight: 500;
    margin-bottom: 20px;
}

/* modal section */
#overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
}

#modal {
    background-color: brown;
    width: 400px;
    margin: 0 auto;
    padding: 20px 16px;
    height: 15rem;
}
/*end  modal section */

/* profile Section */
#profileSection{
    display: flex;
    /* padding: 0 3rem; */
    /* background-color: rgb(19,32,60); */
    background-color: rgb(236,236,236);
}

.profileSec1{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.profileSec2{
    background: url(/images/imdd.jpg);
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgb(19,32,60)), url(/images/imdd.jpg);
    object-fit: cover;
    /* opacity: 0.8999; */
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}

.profileSec2 img{
    object-fit: cover;
    opacity: 0.4;
}

.profileSec2 h2{
    font-size: 2rem;
    font-weight: 700;
}

.profileSec2 p{
    font-size: 1.6rem;
    font-weight: 800;
    width: 78%;
    text-align: center;
    margin: 20px;
}

.profileBtn p{
    text-align: center;
}

.profileBtn1{
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.profileBtn1:hover{
    background-color: rgb(209,147,37);
    transition: 0.6s;
}
.profileBtn2{
    background-color: rgb(209,147,37);
}
.profileBtn2:hover{
    background-color: #fff;
    transition: 0.6s;
}


/* pricing section */
#pricingSection{
    margin: 8rem auto 2rem auto;
}

#planText1{
    color: rgb(19,32,60);
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem;
}

#planText2{
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 2rem;
    text-align: center;
}

.plans{
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 1rem;
    text-align: center;
}

.planOne{
    color: #fff;
    background-color: rgb(19,32,60);
    padding: 6rem 3rem;
    border-radius: 20px;
}

.planOne h2{
    font-size: 2.3rem;
    font-weight: 800;
}

.line{
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
}

#planBtn{
    padding: 10px 20px;
    background-color: rgb(209,147,37);
    border: none;
    margin: 1rem 0 2rem 0;
    border-radius: 20px;
    color: #fff;
}

#planBtn:hover{
    background-color: rgb(202, 140, 33);
    transition: 0.6s;
  }

#planText{
    width: 80%;
    text-align: center;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 300;
  }

  /* circle section */
#circleSection{
    display: flex;
    gap: 2rem;
    padding: 10rem 2.9rem;
  }

.circle{
    box-shadow: 4px 4px 4px 4px rgb(230, 230, 230);
    padding: 3.5rem 2rem;
    /* padding: 16px 20px 40px 20px; */
    background-color: #fff;
    border-radius: 20px;
    max-width: 400px;
  }

  .circle h2{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 10px 0 10px 0;
    color: rgb(19,32,60);
    text-align: center;
}

 .font{
    display: flex;
    gap: 20px;
    justify-content: center;
    color: rgb(19,32,60);
    font-size: 35px;
    margin: 0 auto 2rem auto;
}

.circle p{
    font-size: 18px;
    font-weight: 300;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    line-height: 26px;
    text-align: center;
}

/* form section */
.form{
    margin: 6rem auto;
    max-width: 400px;
    padding: 4rem 1rem 1rem 1rem;
    box-shadow: 7px 7px 7px 7px rgb(236,236,236);
}

#sign{
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 2rem 0;
} 

input[type=email], input[type=password] {
    width: 100%;
    padding: 9px 20px;
    margin: 8px 0;
    cursor: pointer;
  }

input[type=submit]{
    padding: 8px 40px;
    width: 100%;
    padding: 9px 20px;
    margin: 1rem 0;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(209,147,37);
    border: none;
  }

  input[type=submit]:hover{
    background-color: rgb(202, 140, 33);
    transition: 0.6s;
  }

  .check{
    display: flex;
    gap: 5px;
    margin: 1.5rem 0;
}

.create{
    margin: 2rem 0 0 0;
}

.create p{
    text-align: center;
}

/* FAQ section */

#FAQSection{
    position: relative;
    padding: 4rem;
}

.FAQHeader{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.FAQHeader h1{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(19,32,60);
}

.FAQHeader img{
    width: 26%;
    height: 17%;
    position: absolute;
    left: 7%;
    top: -11%; 
    border: none;
    z-index: 1; 
} 
#FAQs{
    display: grid;
    place-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.FAQ{
    width: 100%;
    border:1px solid rgb(194, 189, 189);
    padding: 20px ;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.FAQ h3{
    font-size: 1.3rem;
    font-weight: 800;
}

.FAQ p{
    font-size: 1rem;
    font-weight: 400;
}

.FAQuestion{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30rem;
    color: rgb(19,32,60);
}

.FAQAnswer{
    display: none;
    width: 50%;
}

.FAQ.showFAQ .FAQAnswer{
    display: block;
}

.FAQText{
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 5%;
    font-size: 1.3rem;
    font-weight: 400;
    
}

/* footer */
#footerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0 0 0;
    background-color: rgb(19,32,60);
    color: #fff;
    padding: 2rem 0 4rem 0;
}

.footerTextOne a{
    color: #fff;
}

.footerTextOne {
    display: flex;
    gap: 1rem;
    margin: 1.6rem 0;
}

.link:hover{
    color: rgb(209,147,37);
    cursor: pointer;
    transition: 0.6s;
}

.footerTextTwo{
    margin: 1.5rem 0 0 0;
}

#footerMedia{
    display: flex;
    gap: 15px;
}

#footerMedia img{
    width: 2rem;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* media query */
@media screen and (max-width:992px){
    .nav-links{
        width: 40%;
    }
    #aboutSection{
        padding-bottom: 6rem;
    }
    .aboutOne{
        margin-bottom: 18px;
    }
    .aboutOne h2{
        margin-bottom: 20px;
    }
    #aboutSection{
        justify-content: center;
        align-items: center;
        /* padding: 3rem 0; */
    }
    .aboutTwo{
        width: 60%;
    }
    .aboutOne p{
        width: 54%;
    }
    .profileSec1{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    #planText{
        width: 100%;
    }
    .FAQuestion{
        gap: 25rem;
    }
}

    @media screen and (max-width:768px){
        .nav-links{
            width: 65%;
        }
        #aboutSection{
            flex-direction: column;
            margin-top: 2rem;
        }
        .aboutOne{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .aboutOne p{
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .aboutOne h2{
            text-align: center;
            margin-bottom: 20px;
        }
        .aboutOneBtn{
            display: grid;
            place-content: center;
        }
        .plans{
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: 2rem;
        }
        #circleSection{
            flex-direction: column;
          }
          #profileSection{
            flex-direction: column;
            padding-bottom: 6rem;
          }
          .profileSec1{
            grid-template-columns: repeat(10, 1fr);
          }
          .profileSec2{
            padding:7rem 0;
          }
          .FAQHeader h1{
            font-size: 1.8rem;
          }
          .FAQuestion{
            gap: 10rem;
          }
    }
    
    @media screen and (max-width:576px){
        /* hamburger */
        .nav{
            padding: 1rem 1rem;
        }
        .nav-links{
            width: 100%;
            position: absolute;
            right: 0px;
            height: 100vh; 
            top: 8vh;
            background-color: rgb(236,236,236);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-active{
            transform: translateX(0%);
        }
        /* .nav-links a{
            opacity: 0;
        } */
        .burger{
            display: block;
        }
        @keyframes navLinkFade{
            from{
               opacity: 0; 
               transform: translateX(50px);
            }
            to{
                opacity: 1; 
                transform: translateX(0px);
            }
        } 
            .toggle .line1{
                transform: rotate(-45deg) translate(-5px,6px);
            }
            .toggle .line2{
                opacity: 0;
            }
            .toggle .line3{
                transform: rotate(45deg) translate(-5px,-6px);
            }
            #aboutSection{
                flex-direction: column;
                margin-top: 6rem;
                padding: 0;
            }
            .aboutOne{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            .aboutOne p{
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                line-height: 26px;
            }
            .aboutOne h2{
                text-align: center;
            }
            .aboutBtn{
                padding: 20px 40px;
            }
            .aboutTwo{
                margin-left: auto;
                margin-right: auto;
            }
            #pricingSection{
                padding: 0 ;
                margin: 0;
            }
            .plans{
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 2rem;
            }
            #planBtn{
                font-size: 17px;
            }
            #planText{
                width: 80%;
                font-size: 1.2rem;
                line-height: 23px;
            }
            #circleSection{
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 2rem;
              }
              input[type=password]{
                margin: 30px 0;
            }
              input[type=email]{
                margin: 16px 0;
            }
            .FAQuestion{
                gap: 2rem;
              }
        }
    /* hamburger */
      @media screen and (max-width:375px){
        .aboutOne{
            margin-top: 5px;
        }
        .aboutOne p{
           line-height: 22px;
        }
        #aboutSection{
            padding: 0;
            margin-top: 5rem;
        }
        .aboutOne h2{
            font-size: 2rem;
            text-align: center;
        }
        .aboutBtn{
            padding: 8px 22px;
            font-size: 12px;
        }
        #planText{
            line-height: 20px;
        }
        #planText1{
            margin: 2rem auto;
            padding: 0 5px;
            font-size: 2rem;
        }
        #planText2{
            padding: 0 1rem;
        }
        #circleSection{
            justify-content: center;
        }
        input[type=email], input[type=password]{
            margin: 14px 0;
        }
        .footerTextOne{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @media screen and (max-width:375px){
            .aboutOne p{
                font-size: 14px;
            }
            #pricingSection{
                margin: 0;
            }
            #planText1{
                font-size: 1.5rem;
            }
            #planText{
                width: 100%;
                line-height: 2.4rem;
            }
            #planText2{
                font-size: 1rem;
            }
            /* .planOne{
                padding:2rem 0 3rem 0;
                max-width: 500px;
            } */
            .profileBtn1{
                display: grid;
                place-content: center;
            }
            #circleSection{
                padding: 2rem 1rem;
            }
            #circleImage{
                width: 99%;
            }
            .circle h2{
                font-size: 1.7rem;
                width: 100%;
            }
            #FAQs{
                width: 100%;
            }
            #FAQSection{
                padding: 0;
            }
        }
    }
