*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000;
}

/* header */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 2rem;
    position: fixed;
    margin: 0 0 5rem 0;
    background-color: rgb(236,236,236);
    width: 100%;
}

#logo{
    width: 9rem;
    max-width: 500px;
    background-color: blue;
}

.nav-right{
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    
}
/* form section */
.form{
    margin: 8rem auto;
    display: grid;
    place-content: center;  
    max-width: 500px;
    background-color: aqua; 
    padding: 4rem 2rem;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    cursor: pointer;
  }

input[type=submit]{
    padding: 8px 40px;
  }

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15rem 0 0 0;
    background-color: rgb(19,32,60);
    color: #fff;
    padding: 2rem 0 4rem 0;
}

.footerTextOne a{
    color: #fff;
}

.footerTextOne {
    display: flex;
    gap: 1rem;
    margin: 1.6rem 0;
}

.link:hover{
    color: rgb(209,147,37);
    cursor: pointer;
}

.footerImage{
    width: 2rem;
    cursor: pointer;
}

.footerTextTwo{
    margin: 1.5rem 0 0 0;
}